@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content : center;
    }

    img {
        position: absolute;
        height: 80%;
        z-index: -999;
    }

    section {
        height: 30%;
        font-family: 'Press Start 2P', cursive;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        color: white;
        background-color: black;
        font-size: 110%;
        padding: 2%;

        form {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

        
        .input__button{
            width: 40%;
            padding: 1%;
            font-family: 'Press Start 2P', cursive;
            color: black;
            background-color: white;
            border-radius: 0;
            &:hover {
                color: white;
                background-color: black;
                }
        }
        .fa-refresh{
            color: white;
            background-color: black;
            font-size: 200%;
            &:hover{
                transform: scale(1.2);
            }
        }
        .input__text{
            padding: 1%;
            width: 40%;

        }    
    }
    }

    .display__results{
        width: 80%;
        height: 100%;
        font-size: 100%;
        text-align: center;

    }